<br><br><br><br>
<div class="ui container">
<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
    <div class="ui centered card">
    <div class="image">
    <%= image_tag "hot_news.png" %>
    </div>
    <div class="content">
      <a class="header">Sign-up for free</a>
    </div>
    <div class="content">
      <a class="item">News upto 10</a> <i class="green check icon"></i><br>
      <a class="item">News edit access</a> <i class="red times icon"></i><br>
      <a class="item">Get Daily updates</a> <i class="red times icon"></i><br>
    </div>
    <div class="content">
  <%= link_to "Signup" , free_signup_path , class:"ui primary button" %>
  </div>
  </div>
    </div>
    <div class="column">
    <div class="ui centered card">
    <div class="image">
      <%= image_tag "hot_news.png" %>
    </div>
   
    <div class="content">
    <a class="header">Premium Package - 50$</a>
  </div>
  <div class="content">
  <a class="item">Unlimited News</a> <a class="right"> <i class="green check icon"></i> </a><br>
  <a class="item">One Time Payment</a> <i class="green check icon"></i><br>
  <a class="item">News edit access</a> <i class="green check icon"></i><br>
  <a class="item">Get Daily Updates</a> <i class="green check icon"></i><br>
</div>
<div class="content">
  <%= link_to "Signup" , new_user_registration_path , class:"ui primary button" %>
  </div>
  </div>
    </div>
  </div>
  <div class="ui vertical divider">
    and
  </div>
</div>
</div>